<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Crea nuova pizza</title>

<th:block th:replace="~{fragments :: head}"></th:block>
</head>
<body>
	<main class="container">
		<h1 class="mt-4">Crea una nuova pizza</h1>
		
		<!--  Form: Crea una nuova pizza -->
		<form id="pizza-form" th:object="${pizza}" th:action="@{/pizze/store}" method="post">
			<!--  Nome -->
	    	<label for="name" class="form-label">Nome</label>
	    	<input type="text" maxlength="30" th:field="*{name}" class="form-control" id="name" th:errorClass="is-invalid">
			<!-- Validation Error -->
		  	<div th:if="${#fields.hasErrors('name')}" class="invalid-feedback">
				<ul>
					<li th:each="err : ${#fields.errors('name')}" th:text="${err}"></li>
				</ul>
			</div>
		  
			<!--  Descrizione -->
	    	<label for="description" class="form-label">Descrizione</label>
	    	<input type="text" maxlength="100" th:field="*{description}" class="form-control" id="description" th:errorClass="is-invalid">
		  	<!-- Validation Error -->
		  	<div th:if="${#fields.hasErrors('description')}" class="invalid-feedback">
		  		<ul>
		  			<li th:each="err : ${#fields.errors('description')}" th:text="${err}"></li>
		  		</ul>
		  	</div>
		  
			<!--  Prezzo -->
	    	<label for="price" class="form-label">Prezzo</label>
	    	<input type="number" th:field="*{price}" min="1" max="99.99" step="0.50" class="form-control" id="price" th:errorClass="is-invalid">
		  	<!-- Validation Error -->
		  	<div th:if="${#fields.hasErrors('price')}" class="invalid-feedback">
		  		<ul>
		  			<li th:each="err : ${#fields.errors('price')}" th:text="${err}"></li>
		  		</ul>
		  	</div>
		  
			<!--  Immagine -->
	    	<label for="photo" class="form-label">Immagine</label>
	    	<input type="text" th:field="*{photo}" maxlength="400" class="form-control" id="photo" th:errorClass="is-invalid">
		  	<!-- Validation Error -->
		  	<div th:if="${#fields.hasErrors('photo')}" class="invalid-feedback">
		  		<ul>
		  			<li th:each="err : ${#fields.errors('photo')}" th:text="${err}"></li>
		  		</ul>
		  	</div>
		  	
		  	<h4>Ingredienti</h4>
			<div th:each="ingrediente : ${ingredienti}">
				<input type="checkbox" class="form-check-input" th:value="${ingrediente.id}" 
				th:field="${pizza.ingredienti}" th:id="|ingrediente_${ingrediente.id}|">
				<label class="form-check-label" th:text="${ingrediente.name}" 
					th:for="|ingrediente_${ingrediente.id}|"></label>
			</div>
		  	
		  	<!-- Button Crea -->
		  	<button type="submit" class="btn btn-primary">Crea</button>
		</form>
	</main>

	<!-- Scripts -->
	<div th:replace="~{fragments :: scripts}"></div>
</body>
</html>