<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Pizza</title>

<th:block th:replace="~{fragments :: head}"></th:block>
</head>
<body>
	<!-- HEADER -->
	<header th:replace="~{fragments :: header}"></header>
	
	<!-- MAIN -->
	<main class="container">
		<!-- Torna alla Home -->
		<a th:href="@{/}" class="my-3 d-inline-block btn btn-outline-primary">
			Torna alle pizze &nbsp;<i class="fa fa-right-from-bracket"></i>
		</a>
		<!-- Modifica -->
		<a th:href="@{/pizze/edit/{id} (id=${pizza.id})}" class="btn btn-outline-success"
		   sec:authorize="hasAuthority('ADMIN')">
   			Modifica <i class="fa-regular fa-pen-to-square"></i>
   		</a>
   		<!-- Elimina -->
      	<form action="#" th:action="@{/pizze/delete/{id}(id=${pizza.id})}" method="post" 
      		  class="d-inline-block" sec:authorize="hasAuthority('ADMIN')">
      		<button type="submit" id="submitButton" class="btn btn-outline-danger">
      			Elimina <i class="fa fa-trash-alt"></i>
      		</button>
      	</form>
		
		<h1 th:text="${pizza.name}" class="text-center my-5"></h1>
		<div class="row">
			<div class="ms-auto col-6">
				<img th:alt="|Immagine Pizza ${pizza.name}|" th:src="@{${pizza.photo}}" class="mb-3" width="100%">
				<h4>Descrizione</h4>
				<p>[[${pizza.description}]]</p>
			</div>
			<div class="me-auto col-4">
				<a th:href="@{|/offerte/create?pizzaId=${pizza.id}|}" 
				   class="my-3 d-inline-block btn btn-primary" sec:authorize="hasAuthority('ADMIN')">
					Crea offerta
				</a>
			
				<h4>Offerte</h4>
				<div th:if="${pizza.offers.size()<=0}" class="mb-5">Non ci sono offerte</div>
				<table th:if="${pizza.getOffers().size()>0}" class="table table-hover align-middle">
					<thead>
					    <tr>
					      <th scope="col">Nome</th>
					      <th scope="col">Data Inizio</th>
					      <th scope="col">Data Fine</th>
					    </tr>
			  		</thead>

					<tbody>
					    <tr th:each="offer : ${pizza.offers}">
					      <td>[[${offer.title}]]</td>
					      <td>[[${offer.startDate}]]</td>
					      <td>[[${offer.endDate}]]</td>
					      <td>
							<a th:href="@{/offerte/edit/{id} (id=${offer.id})}" class="btn btn-success">
				      			<i class="fa-regular fa-pen-to-square"></i>
				      		</a>
					      	<form th:action="@{/offerte/delete/{id} (id=${offer.id})}" method="post" class="d-inline-block">
					      		<button type="submit" id="submitButton" class="btn btn-danger">
					      			<i class="fa fa-trash-alt"></i>
					      		</button>
					      	</form>
					      </td>
					    </tr>
				  	</tbody>
				</table>
				
				<!-- Ingredienti -->
				<h4 class="mt-5">Ingredienti</h4>
				<div th:if="${pizza.getIngredienti.size()<=0}">Non ci sono ingredienti</div>
				<table th:if="${pizza.getIngredienti.size()>0}" class="table table-hover align-middle">
					<thead>
					    <tr>
					      <th scope="col">Id</th>
					      <th scope="col">Nome</th>
					    </tr>
			  		</thead>

					<tbody>
					    <tr th:each="ingrediente : ${pizza.ingredienti}">
					      <td>[[${ingrediente.id}]]</td>
					      <td>[[${ingrediente.name}]]</td>
					    </tr>
				  	</tbody>
				</table>
			</div>
		</div>
	</main>
	
	<!-- Scripts -->
	<div th:replace="~{fragments :: scripts}"></div>
</body>
</html>